<div class="bs-docs-section">
    <div class="row mt-3">
        <div class="col-4">
            <h1 class="mb-3">SquishImg</h1>
            <img src="/img/banner.png" class="img-fluid" style="height:150px;" alt="SmushImg logo">
        </div>
        <div class="col-8">
            <h2>About this project</h2>
            <p>SquishImg was made as an assesment project and also as a learning project.</p>
            <p>As a beginner, it was an attempt to merge Spring boot and angular as seamlessly as possible.</p>
            <p>Im open to taking corrections and such if anyone's interested.</p>
            <p>Thank you for checking out this project.</p>
        </div>
    </div>
</div>